global_settings:
  random_seed: 42
  output_dir: "./results/"
  verbose: False
  parallel_execution: True

environments:
  - name: "env_standard_healthcare_mvn"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test_result", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [[ 0.80, 0.15, 0.05 ], [ 0.70, 0.20, 0.10 ]]
      - [[ 0.25, 0.65, 0.10 ], [ 0.60, 0.35, 0.05 ]]
      - [[ 0.10, 0.15, 0.75 ], [ 0.20, 0.60, 0.20 ]]
    true_observations:
      - healthy:
          mean: [ 0.15, 0.15 ]
          cov: [[ 0.005, 0.0 ], [ 0.0, 0.005 ]]
        sick:
          mean: [ 0.80, 0.30 ]
          cov: [ [ 0.007, 0.0 ], [ 0.0, 0.007 ] ]
        critical:
          mean: [ 0.80, 0.82 ]
          cov: [ [ 0.007, 0.0 ], [ 0.0, 0.005 ] ]
  - name: "env_standard_healthcare_mvn_AA"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test_result", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [[0.90, 0.10, 0.00], [0.80, 0.15, 0.05]]
      - [[0.30, 0.65, 0.05], [0.60, 0.35, 0.05]]
      - [[0.00, 0.10, 0.90], [0.15, 0.60, 0.25]]
    true_observations:
      - healthy:
          mean: [ 0.18, 0.18]
          cov: [[ 0.01, 0.0001], [ 0.0001, 0.01 ]]
        sick:
          mean: [ 0.5, 0.80]
          cov: [[ 0.025, 0.0001 ], [ 0.0001, 0.025]]
        critical:
          mean: [ 0.8, 0.8]
          cov: [[ 0.01, 0.0001 ], [ 0.0001, 0.01]]

  - name: "env_medium_healthcare_mvn"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test_result", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [[0.75, 0.20, 0.05], [0.70, 0.25, 0.05]]
      - [[0.20, 0.70, 0.10], [0.55, 0.40, 0.05]]
      - [[0.10, 0.15, 0.75], [0.20, 0.55, 0.25]]
    true_observations:
      - healthy:
          mean: [ 0.15, 0.15 ]
          cov: [[ 0.005, 0.0 ], [ 0.0, 0.005 ]]
        sick:
          mean: [ 0.80, 0.30 ]
          cov: [ [ 0.007, 0.0 ], [ 0.0, 0.007 ] ]
        critical:
          mean: [ 0.80, 0.82 ]
          cov: [ [ 0.007, 0.0 ], [ 0.0, 0.005 ] ]

  - name: "env_hard_healthcare_mvn"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test_result", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [ [ 0.80, 0.15, 0.05 ], [ 0.70, 0.20, 0.10 ] ]
      - [ [ 0.25, 0.65, 0.10 ], [ 0.60, 0.35, 0.05 ] ]
      - [ [ 0.10, 0.15, 0.75 ], [ 0.20, 0.60, 0.20 ] ]
    true_observations:
      # Closer means, testing the limits of separability without clipping issues
      - healthy:
          mean: [ 0.30, 0.30 ]
          cov: [ [ 0.007, 0.0 ], [ 0.0001, 0.007 ] ]
        sick:
          mean: [ 0.70, 0.50 ]
          cov: [ [ 0.007, 0.0 ], [ 0.0001, 0.007 ] ]
        critical:
          mean: [ 0.5, 0.75 ]
          cov: [ [ 0.007, 0.0 ], [ 0.0001, 0.007 ] ]

  - name: "env_standard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test_result", "symptoms"]
    actions: ["wait", "treat"]
    distribution_type: "beta"
    true_transitions:
          # Deterministic transitions for maximum learnability
          - [[0.95, 0.05, 0.00], [0.85, 0.10, 0.05]]
          - [[0.20, 0.70, 0.10], [0.75, 0.20, 0.05]]
          - [[0.00, 0.10, 0.90], [0.10, 0.75, 0.15]]
    true_observations:
      - healthy:
          mean: [ 0.15, 0.15]
          cov: [[0.005, 0.0 ], [ 0.0, 0.005 ]]
        sick:
          mean: [ 0.50, 0.50]
          cov: [[ 0.005, 0.0 ], [ 0.0, 0.005 ]]
        critical:
          mean: [ 0.85, 0.85]
          cov: [[ 0.005, 0.0 ], [ 0.0, 0.005 ]]

  - name: "env_medium_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test_result", "symptoms"]
    actions: ["wait", "treat"]
    distribution_type: "beta"
    true_transitions:
      - [[0.80, 0.15, 0.05], [0.75, 0.15, 0.10]]
      - [[0.30, 0.60, 0.10], [0.60, 0.30, 0.10]]
      - [[0.05, 0.05, 0.90], [0.10, 0.65, 0.25]]
    true_observations:
        - healthy:
             test_result: [2.0, 10]
             symptoms: [2, 10]
          sick:
             test_result: [7, 7]
             symptoms: [7, 7]
          critical:
             test_result: [10, 2]
             symptoms: [10, 2.5]

  - name: "env_hard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test_result", "symptoms"]
    actions: ["wait", "treat"]
    distribution_type: "beta"
    true_transitions:
      - [[0.75, 0.20, 0.05], [0.70, 0.25, 0.05]]
      - [[0.20, 0.70, 0.10], [0.55, 0.40, 0.05]]
      - [[0.10, 0.15, 0.75], [0.20, 0.55, 0.25]]
    true_observations:
        - healthy:
             test_result: [2, 6]
             symptoms: [2, 6]
          sick:
             test_result: [2.8, 4.0]
             symptoms: [7, 3]
          critical:
             test_result: [6, 2.0]
             symptoms: [6, 2]

experiments:
  data_efficiency_study:
    active: true
    description: "Study on the impact of data size on model performance in healthcare POMDPs."
    environments: ["env_standard_healthcare_mvn", "env_medium_healthcare_mvn", "env_hard_healthcare_mvn"]
    sequence_length: 3

    dataset_sizes: [5, 10, 15, 20, 25, 30, 35]
    noise_level: [0.01, 0.05, 0.1]
    n_trials: 25

    standard_params:
        n_iterations: 500
        tolerance: 1e-4
        init_method: "random"

    models:
      - name: "Standard_EM"
        class: "PomdpEM"
        active: True
        color: "blue"
        marker: "o"
        params:
          parallel: False

      - name: "Standard MAP"
        class: "PomdpMAPEM"
        active: True
        params:
          parallel: False
          prior_alpha: 1.5
          prior_mu0: 0.5
          prior_kappa0: 0.5
          prior_psi0: 0.0005

      - name: "Fuzzy_Static_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "red"
        marker: "s"
        params: &default_fuzzy_params
          use_fuzzy: True
          parallel: False
          lambda_T: 0.25
          lambda_O: 0.05
          hyperparameter_update_method: "static"
          integration_method: "mean"
          mc_samples: 150

      - name: "Fuzzy_Adaptive_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "green"
        marker: "D"
        params:
          <<: *default_fuzzy_params
          hyperparameter_update_method: "adaptive"
          integration_method: "mean"
          alpha_ah: 0.15
          lambda_T: 0.25
          lambda_O: 0.05

      - name: "Fuzzy_EB_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "cyan"
        marker: "^"
        params:
          <<: *default_fuzzy_params
          hyperparameter_update_method: "empirical_bayes"
          integration_method: "mean"
          eb_learning_rate: 0.00005
          lambda_T: 0.25
          lambda_O: 0.05


variable_mappings:
  test_result: 0
  symptoms: 1