global_settings:
  random_seed: 5
  output_dir: "./results/"
  use_cache: True
  verbose: False
  parallel_execution: False

environments:
  - name: "env_standard_healthcare_mvn"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [[ 0.80, 0.15, 0.05 ], [ 0.70, 0.20, 0.10 ]]
      - [[ 0.25, 0.65, 0.10 ], [ 0.60, 0.35, 0.05 ]]
      - [[ 0.10, 0.15, 0.75 ], [ 0.20, 0.60, 0.20 ]]
    true_observations:
      - healthy:
          mean: [ 0.20, 0.20 ]
          cov: [[ 0.01, 0.0025 ], [0.0025, 0.01 ]]
        sick:
          mean: [ 0.35, 0.80 ]
          cov: [[ 0.02, 0.015 ], [ 0.015, 0.02 ] ]
        critical:
          mean: [ 0.80, 0.82 ]
          cov: [ [ 0.011, 0.0 ], [ 0, 0.011 ] ]
  - name: "env_standard_healthcare_mvn_AA"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [[0.90, 0.10, 0.00], [0.80, 0.15, 0.05]]
      - [[0.30, 0.65, 0.05], [0.60, 0.35, 0.05]]
      - [[0.00, 0.10, 0.90], [0.15, 0.60, 0.25]]
    true_observations:
      - healthy:
          mean: [ 0.18, 0.18]
          cov: [[ 0.01, 0.0001], [ 0.0001, 0.01 ]]
        sick:
          mean: [ 0.5, 0.80]
          cov: [[ 0.025, 0.0001 ], [ 0.0001, 0.025]]
        critical:
          mean: [ 0.8, 0.8]
          cov: [[ 0.01, 0.0001 ], [ 0.0001, 0.01]]

  - name: "env_medium_healthcare_mvn"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [[ 0.80, 0.15, 0.05 ], [ 0.65, 0.25, 0.10 ]]
      - [[ 0.25, 0.65, 0.10 ], [ 0.55, 0.35, 0.10 ]]
      - [[ 0.05, 0.20, 0.75 ], [ 0.20, 0.60, 0.20 ]]
    true_observations:
      - healthy:
          mean: [ 0.30, 0.30 ]
          cov: [[0.01, 0.005], [0.005, 0.01]]
        sick:
          mean: [0.50, 0.50]
          cov: [[0.02, 0.015], [0.015, 0.02]]
        critical:
          mean: [0.70, 0.70]
          cov: [[0.01, 0.005], [0.005, 0.01]]

  - name: "env_hard_healthcare_mvn"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test", "symptoms" ]
    actions: [ "wait", "treat" ]
    distribution_type: "mvn"
    true_transitions:
      - [[ 0.80, 0.15, 0.05 ], [ 0.70, 0.20, 0.10 ]]
      - [[ 0.25, 0.65, 0.10 ], [ 0.60, 0.35, 0.05 ]]
      - [[ 0.10, 0.15, 0.75 ], [ 0.20, 0.60, 0.20 ]]
    true_observations:
      # Closer means, testing the limits of separability without clipping issues
      - healthy:
          mean: [ 0.30, 0.30 ]
          cov: [[0.007, 0.0], [0.0, 0.007]]
        sick:
          mean: [0.42, 0.45]
          cov: [[0.02, 0.0125], [0.0125, 0.02]]
        critical:
          mean: [ 0.625, 0.75 ]
          cov: [[0.011, 0.001], [0.001, 0.011]]

  - name: "env_standard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test", "symptoms"]
    actions: ["wait", "treat"]
    distribution_type: "beta"
    true_transitions:
          # Deterministic transitions for maximum learnability
          - [[0.95, 0.05, 0.00], [0.85, 0.10, 0.05]]
          - [[0.20, 0.70, 0.10], [0.75, 0.20, 0.05]]
          - [[0.00, 0.10, 0.90], [0.10, 0.75, 0.15]]
    true_observations:
      - healthy:
          mean: [ 0.15, 0.15]
          cov: [[0.005, 0.0 ], [ 0.0, 0.005 ]]
        sick:
          mean: [ 0.50, 0.50]
          cov: [[ 0.005, 0.0 ], [ 0.0, 0.005 ]]
        critical:
          mean: [ 0.85, 0.85]
          cov: [[ 0.005, 0.0 ], [ 0.0, 0.005 ]]

  - name: "env_medium_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test", "symptoms"]
    actions: ["wait", "treat"]
    distribution_type: "beta"
    true_transitions:
      - [[0.80, 0.15, 0.05], [0.75, 0.15, 0.10]]
      - [[0.30, 0.60, 0.10], [0.60, 0.30, 0.10]]
      - [[0.05, 0.05, 0.90], [0.10, 0.65, 0.25]]
    true_observations:
        - healthy:
             test: [2.0, 10]
             symptoms: [2, 10]
          sick:
             test: [7, 7]
             symptoms: [7, 7]
          critical:
             test: [10, 2]
             symptoms: [10, 2.5]

  - name: "env_hard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test", "symptoms"]
    actions: ["wait", "treat"]
    distribution_type: "beta"
    true_transitions:
      - [[0.75, 0.20, 0.05], [0.70, 0.25, 0.05]]
      - [[0.20, 0.70, 0.10], [0.55, 0.40, 0.05]]
      - [[0.10, 0.15, 0.75], [0.20, 0.55, 0.25]]
    true_observations:
        - healthy:
             test: [2, 6]
             symptoms: [2, 6]
          sick:
             test: [2.8, 4.0]
             symptoms: [7, 3]
          critical:
             test: [6, 2.0]
             symptoms: [6, 2]

experiments:
  data_efficiency_study:
    active: True
    description: "Study on the impact of data size on model performance in healthcare POMDPs."
    environments: ["env_standard_healthcare_mvn"]
    sequence_length: 3
    folder_name: "res/data_efficiency_study_standard/"
    dataset_sizes: [5, 10, 15, 20, 25, 30, 35]
    noise_level: [0.01, 0.05, 0.1]
    n_trials: 40

    standard_params:
        n_iterations: 500
        tolerance: 1e-4
        init_method: "random"

    models:
      - name: "Standard_EM"
        class: "PomdpEM"
        active: True
        color: "blue"
        marker: "o"
        params:
          parallel: False

      - name: "Standard MAP"
        class: "PomdpMAPEM"
        active: True
        params:
          parallel: False
          prior_alpha: 1.5
          prior_mu0: 0.5
          prior_kappa0: 0.5
          prior_psi0: 0.0005

      - name: "Fuzzy_Static_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "red"
        marker: "s"
        params: &default_fuzzy_params
          use_fuzzy: True
          parallel: False
          lambda_T: 0.25
          lambda_O: 0.10
          hyperparameter_update_method: "static"
          integration_method: "mean"
          mc_samples: 150

      - name: "Fuzzy_Adaptive_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "green"
        marker: "D"
        params:
          <<: *default_fuzzy_params
          hyperparameter_update_method: "adaptive"
          integration_method: "mean"
          alpha_ah: 0.1
          lambda_T: 0.25
          lambda_O: 0.10

      - name: "Fuzzy_EB_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "cyan"
        marker: "^"
        params:
          <<: *default_fuzzy_params
          hyperparameter_update_method: "empirical_bayes"
          integration_method: "mean"
          eb_learning_rate_T: 0.00001
          eb_learning_rate_O: 0.000001
          lambda_T: 0.25
          lambda_O: 0.10

  data_efficiency_study2:
    active: True
    description: "Study on the impact of data size on model performance in healthcare POMDPs."
    environments: ["env_medium_healthcare_mvn"]
    sequence_length: 3
    folder_name: "res/data_efficiency_study_medium/"
    dataset_sizes: [5, 10, 15, 20, 25, 30, 35]
    noise_level: [0.01, 0.05, 0.1]
    n_trials: 40

    standard_params:
        n_iterations: 500
        tolerance: 1e-4
        init_method: "random"

    models:
      - name: "Standard_EM"
        class: "PomdpEM"
        active: True
        color: "blue"
        marker: "o"
        params:
          parallel: False

      - name: "Standard MAP"
        class: "PomdpMAPEM"
        active: True
        params:
          parallel: False
          prior_alpha: 1.5
          prior_mu0: 0.5
          prior_kappa0: 0.5
          prior_psi0: 0.0005

      - name: "Fuzzy_Static_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "red"
        marker: "s"
        params: &default_fuzzy_params2
          use_fuzzy: True
          parallel: False
          lambda_T: 0.75
          lambda_O: 0.25
          hyperparameter_update_method: "static"
          integration_method: "mean"
          mc_samples: 150

      - name: "Fuzzy_Adaptive_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "green"
        marker: "D"
        params:
          <<: *default_fuzzy_params2
          hyperparameter_update_method: "adaptive"
          integration_method: "mean"
          alpha_ah: 0.10
          lambda_T: 0.75
          lambda_O: 0.25

      - name: "Fuzzy_EB_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "cyan"
        marker: "^"
        params:
          <<: *default_fuzzy_params2
          hyperparameter_update_method: "empirical_bayes"
          integration_method: "mean"
          eb_learning_rate_T: 0.000005
          eb_learning_rate_O: 0.0000005
          lambda_T: 0.75
          lambda_O: 0.25

  data_efficiency_study3:
    active: True
    description: "Study on the impact of data size on model performance in healthcare POMDPs."
    environments: ["env_hard_healthcare_mvn"]
    sequence_length: 3
    folder_name: "res/data_efficiency_study_hard/"
    dataset_sizes: [5, 10, 15, 20, 25, 30, 35]
    noise_level: [0.01, 0.05, 0.1]
    n_trials: 40

    standard_params:
        n_iterations: 500
        tolerance: 1e-4
        init_method: "random"

    models:
      - name: "Standard_EM"
        class: "PomdpEM"
        active: True
        color: "blue"
        marker: "o"
        params:
          parallel: False

      - name: "Standard MAP"
        class: "PomdpMAPEM"
        active: True
        params:
          parallel: False
          prior_alpha: 1.5
          prior_mu0: 0.5
          prior_kappa0: 0.5
          prior_psi0: 0.0005

      - name: "Fuzzy_Static_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "red"
        marker: "s"
        params: &default_fuzzy_params3
          use_fuzzy: True
          parallel: False
          lambda_T: 0.50
          lambda_O: 0.15
          hyperparameter_update_method: "static"
          integration_method: "mean"
          mc_samples: 150

      - name: "Fuzzy_Adaptive_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "green"
        marker: "D"
        params:
          <<: *default_fuzzy_params3
          hyperparameter_update_method: "adaptive"
          integration_method: "mean"
          alpha_ah: 0.025
          lambda_T: 0.50
          lambda_O: 0.15

      - name: "Fuzzy_EB_EM"
        class: "FuzzyPOMDP"
        active: True
        color: "cyan"
        marker: "^"
        params:
          <<: *default_fuzzy_params3
          hyperparameter_update_method: "empirical_bayes"
          integration_method: "mean"
          eb_learning_rate_T: 0.000005
          eb_learning_rate_O: 0.0000005
          lambda_T: 0.50
          lambda_O: 0.15

  integration_method_comparison:
    active: False
    description: "Comparison between Mean and Monte Carlo integration methods in FuzzyPOMDP."
    environments: [ "env_standard_healthcare_mvn"]
    sequence_length: 3
    dataset_sizes: [5, 10, 15, 20, 25, 30, 35]
    noise_level: [ 0.01, 0.1]
    folder_name: "integration_method_comparison"
    n_trials: 20
    standard_params:
      n_iterations: 500
      tolerance: 1e-4
      init_method: "random"
    models:
      - name: "Fuzzy_Mean"
        class: "FuzzyPOMDP"
        active: True
        color: "blue"
        marker: "o"
        params:
          use_fuzzy: True
          parallel: False
          lambda_T: 0.1
          lambda_O: 0.05
          hyperparameter_update_method: "static"
          integration_method: "mean"

      - name: "Fuzzy_MC_50"
        class: "FuzzyPOMDP"
        active: True
        color: "red"
        marker: "x"
        params:
          use_fuzzy: True
          parallel: False
          lambda_T: 0.1
          lambda_O: 0.05
          hyperparameter_update_method: "static"
          integration_method: "montecarlo"
          mc_samples: 50

      - name: "Fuzzy_MC_200"
        class: "FuzzyPOMDP"
        active: True
        color: "green"
        marker: "^"
        params:
          use_fuzzy: True
          parallel: False
          lambda_T: 0.1
          lambda_O: 0.05
          hyperparameter_update_method: "static"
          integration_method: "montecarlo"
          mc_samples: 200
  hyperparameter_grid_search:
    active: False
    description: "Grid Search for lambda."
    environments: ["env_standard_healthcare_mvn", "env_medium_healthcare_mvn", "env_hard_healthcare_mvn"]
    sequence_length: 3
    dataset_sizes: [ 25 ]
    noise_level: [ 0.01 ]
    n_trials: 10
    standard_params:
      n_iterations: 400
      tolerance: 1e-4
      init_method: "random"
    models:
      - name: "Fuzzy_Grid_Search"
        class: "FuzzyPOMDP"
        active: True
        grid_search: True
        params:
          use_fuzzy: True
          parallel: False
          hyperparameter_update_method: "static"
          integration_method: "mean"
          lambda_T: [0, 0.01, 0.025, 0.05, 0.075, 0.1, 0.15, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1.0 ]
          lambda_O: [0, 0.01, 0.025, 0.05, 0.075, 0.1, 0.15, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1.0 ]
  adaptive_alpha_search:
      active: False
      description: "Grid search for alpha_ah parameter using the Adaptive update method."
      environments: ["env_hard_healthcare_mvn"]
      sequence_length: 3
      dataset_sizes: [25]
      noise_level: [0.01]
      n_trials: 45
      standard_params:
          n_iterations: 400
          tolerance: 1e-4
          init_method: "random"
      models:
        - name: "Fuzzy_Adaptive_Alpha"
          class: "FuzzyPOMDP"
          active: True
          grid_search: True
          params:
            use_fuzzy: True
            parallel: False
            hyperparameter_update_method: "adaptive"
            integration_method: "mean"


            lambda_T: 0.50
            lambda_O: 0.15

            alpha_ah: [0.01, 0.05, 0.1, 0.15, 0.20, 0.35, 0.5, 0.75, 1.0]

variable_mappings:
  test: 0
  symptoms: 1