global_settings:
  random_seed: 42
  output_dir: "./results/"
  verbose: true

environments:

  - name: "env_standard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    true_transitions:
      - [[0.85, 0.14, 0.01], [0.80, 0.15, 0.05]]
      - [[0.30, 0.60, 0.10], [0.65, 0.35, 0.00]]
      - [[0.01, 0.05, 0.94], [0.10, 0.65, 0.25]]
    observations:
      - Healthy:
          - test: [1.8, 7.5]
          - symptoms: [2, 10]
      - Sick:
          - test: [2.8, 5]
          - symptoms: [8, 2]
      - Critical:
          - test: [7.3, 2]
          - symptoms: [8.9, 2.5]

  - name: "env_medium_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    true_transitions:
      - [[0.80, 0.15, 0.05], [0.75, 0.20, 0.05]]
      - [[0.25, 0.65, 0.10], [0.60, 0.35, 0.05]]
      - [[0.05, 0.10, 0.85], [0.15, 0.60, 0.25]]
    observations:
        - Healthy:
            - test: [2.0, 10]
            - symptoms: [2, 10]
        - Sick:
            - test: [7, 7]
            - symptoms: [7, 7]
        - Critical:
            - test: [10, 2]
            - symptoms: [10, 2.5]

  - name: "env_hard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    true_transitions:
      - [[0.75, 0.20, 0.05], [0.70, 0.25, 0.05]]
      - [[0.20, 0.70, 0.10], [0.55, 0.40, 0.05]]
      - [[0.10, 0.15, 0.75], [0.20, 0.55, 0.25]]
    observations:
        - Healthy:
            - test: [2, 6]
            - symptoms: [2, 6]
        - Sick:
            - test: [2.8, 4.0]
            - symptoms: [7, 3]
        - Critical:
            - test: [6, 2.0]
            - symptoms: [6, 2]

experiments:
  data_efficiency_study:
    active: true
    description: "Study on the impact of data size on model performance in healthcare POMDPs."
    environments: ["env_standard_healthcare", "env_medium_healthcare", "env_hard_healthcare"]
    sequence_length: 3

    data_sizes: [15, 25, 40, 50, 75, 100, 200, 400, 500]
    n_trials: 1

    standard_params:
        n_iterations: 300
        tol: 1e-4
        init_method: "random"

    models:
      - name: "Standard_EM"
        class: "PomdpEM"
        params:
          use_fuzzy: false

      - name: "Fuzzy_Static_EM"
        class: "FuzzyPOMDP"
        params: &default_fuzzy_params
          use_fuzzy: true
          lambda_T: 0.1
          lambda_O: 0.05
          hyperparameter_update_method: "static"
          integration_method: "mean"
          mc_samples: 150

      - name: "Fuzzy_Adaptive_EM"
        class: "FuzzyPOMDP"
        params:
          <<: *default_fuzzy_params
          hyperparameter_update_method: "adaptive"
          adaptive_ah: 0.1

      - name: "Fuzzy_EB_EM"
        class: "FuzzyPOMDP"
        params:
          <<: *default_fuzzy_params
          hyperparameter_update_method: "empirical_bayes"
          eb_lr_rate: 0.05

variable_mappings:
  test_result: 0
  symptoms: 1