global_settings:
  random_seed: 5245
  output_dir: "./results/"
  verbose: False
  parallel_execution: False

environments:

  - name: "env_standard_healthcare_mvn"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: [ "healthy", "sick",  "critical" ]
    observations: [ "test_result", "symptoms" ]
    actions: [ "wait", "treat" ]
    true_transitions:
      - [ [ 0.85, 0.10, 0.05 ], [ 0.75, 0.15, 0.10 ] ]
      - [ [ 0.30, 0.60, 0.10 ], [ 0.60, 0.35, 0.05 ] ]
      - [ [ 0.01, 0.05, 0.94 ], [ 0.10, 0.65, 0.25 ] ]
    true_observations:
      - healthy:
          mean: [ 0.2, 0.2]
          cov: [[ 0.95, 0.05 ], [ 0.05, 0.95 ]]
        sick:
          mean: [ 0.8, 0.2]
          cov: [[ 0.95, 0.05 ], [ 0.05, 0.95 ]]
        critical:
          mean: [ 0.8, 0.8]
          cov: [[ 0.95, 0.05 ], [ 0.05, 0.95 ]]

  - name: "env_standard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test_result", "symptoms"]
    actions: ["wait", "treat"]
    true_transitions:
      - [[0.85, 0.10, 0.05], [0.75, 0.15, 0.10]]
      - [[0.30, 0.60, 0.10], [0.60, 0.35, 0.05]]
      - [[0.01, 0.05, 0.94], [0.10, 0.65, 0.25]]
    true_observations:
      - healthy:
           test_result: [1.8, 7.5]
           symptoms: [2, 10]
        sick:
           test_result: [2.8, 5]
           symptoms: [8, 2]
        critical:
           test_result: [7.3, 2]
           symptoms: [8.9, 2.5]

  - name: "env_medium_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test_result", "symptoms"]
    actions: ["wait", "treat"]
    true_transitions:
      - [[0.80, 0.15, 0.05], [0.75, 0.15, 0.10]]
      - [[0.30, 0.60, 0.10], [0.60, 0.30, 0.10]]
      - [[0.05, 0.05, 0.90], [0.10, 0.65, 0.25]]
    true_observations:
        - healthy:
             test_result: [2.0, 10]
             symptoms: [2, 10]
          sick:
             test_result: [7, 7]
             symptoms: [7, 7]
          critical:
             test_result: [10, 2]
             symptoms: [10, 2.5]

  - name: "env_hard_healthcare"
    n_states: 3
    n_actions: 2
    obs_dim: 2
    states: ["healthy", "sick",  "critical"]
    observations: ["test_result", "symptoms"]
    actions: ["wait", "treat"]
    true_transitions:
      - [[0.75, 0.20, 0.05], [0.70, 0.25, 0.05]]
      - [[0.20, 0.70, 0.10], [0.55, 0.40, 0.05]]
      - [[0.10, 0.15, 0.75], [0.20, 0.55, 0.25]]
    true_observations:
        - healthy:
             test_result: [2, 6]
             symptoms: [2, 6]
          sick:
             test_result: [2.8, 4.0]
             symptoms: [7, 3]
          critical:
             test_result: [6, 2.0]
             symptoms: [6, 2]

experiments:
  data_efficiency_study:
    active: true
    description: "Study on the impact of data size on model performance in healthcare POMDPs."
    environments: ["env_standard_healthcare_mvn", "env_standard_healthcare", "env_medium_healthcare", "env_hard_healthcare"]
    sequence_length: 3

    dataset_sizes: [15, 25, 50, 75, 100]
    noise_level: [0.01]
    n_trials: 1

    standard_params:
        n_iterations: 300
        tolerance: 1e-5
        init_method: "random"

    models:
      - name: "Standard_EM"
        class: "PomdpEM"
        params:
          parallel: false


      - name: "Fuzzy_Static_EM"
        class: "FuzzyPOMDP"
        params: &default_fuzzy_params
          use_fuzzy: true
          parallel: false
          lambda_T: 0.1
          lambda_O: 0.05
          hyperparameter_update_method: "static"
          integration_method: "mean"
          mc_samples: 1500

      - name: "Fuzzy_Adaptive_EM"
        class: "FuzzyPOMDP"
        params:
          <<: *default_fuzzy_params
          hyperparameter_update_method: "adaptive"
          integration_method: "mean"
          alpha_ah: 1
          lambda_T: 0.5
          lambda_O: 0.5

#      - name: "Fuzzy_EB_EM"
#        class: "FuzzyPOMDP"
#        params:
#          <<: *default_fuzzy_params
#          hyperparameter_update_method: "empirical_bayes"
#          integration_method: "mean"
#          eb_learning_rate: 0.005
#          lambda_T: 0.1
#          lambda_O: 0.05

variable_mappings:
  test_result: 0
  symptoms: 1